<p id="notice"><%= notice %></p>

<h1>Graph  - <%= @graph.name %> </h1>
<div class='col-md-3'>
  <%= render 'vertices/auxiliar_list', vertices: @vertices %>
</div>
<div class='col-md-9'>
  <%= render 'edges/auxiliar_list', edges: @edges %>
</div>
<%= if %>
  <div>
    <%= button_to 'Iniciar Algoritmo', start_algoritm_path %>  
  </div>
<%= end %>

<div>
  <%= button_to 'Iniciar Algoritmo', start_algoritm_path %>  
</div>