<%= form_with(model: way, local: true) do |form| %>
  <% if way.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(way.errors.count, "error") %> prohibited this way from being saved:</h2>

      <ul>
      <% way.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vertices_list %>
    <%= form.text_area :vertices_list, id: :way_vertices_list %>
  </div>

  <div class="field">
    <%= form.label :edges_list %>
    <%= form.text_area :edges_list, id: :way_edges_list %>
  </div>

  <div class="field">
    <%= form.label :total_distance %>
    <%= form.number_field :total_distance, id: :way_total_distance %>
  </div>

  <div class="field">
    <%= form.label :total_time %>
    <%= form.number_field :total_time, id: :way_total_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
