<p id="notice"><%= notice %></p>

<h1>Vertices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vertices.each do |vertex| %>
      <tr>
        <td><%= vertex.name %></td>
        <td><%= link_to 'Show', vertex %></td>
        <td><%= link_to 'Edit', edit_vertex_path(vertex) %></td>
        <td><%= link_to 'Destroy', vertex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vertex', new_vertex_path %>
